<div class="breakout">
	<!-- <ul class="portfolio-gallery">
	  {% for project in site.portfolio %}
	  <li class="project-thumb project-{{ project.css }}" style="background-image:url({{ site.baseurl }}{{ project.url }}project-thumb.jpg);">
	    <div class="project-thumb_info">
	      <h4>View Project</h4>
	    </div>
	    <a href="{{ site.baseurl }}{{ project.url }}" title="{{ project.title }}"></a>
	  </li>
	  {% endfor %}
	</ul> -->
	<ul class="portfolio-gallery">
	  <li class="project-thumb project-walk-on-water" style="background-image:url(/portfolio/walk-on-water/project-thumb.jpg);">
	    <div class="project-thumb_info">
	      <h4>View Project</h4>
	    </div>
	    <a href="/portfolio/walk-on-water/" title="Walk on Water"></a>
	  </li>
	  
	  <li class="project-thumb project-aau" style="background-image:url(/portfolio/aau/project-thumb.jpg);">
	    <div class="project-thumb_info">
	      <h4>View Project</h4>
	    </div>
	    <a href="/portfolio/aau/" title="AAU"></a>
	  </li>
		
	  <li class="project-thumb project-pga" style="background-image:url(/portfolio/pga/project-thumb.jpg);">
	    <div class="project-thumb_info">
	      <h4>View Project</h4>
	    </div>
	    <a href="/portfolio/pga/" title="PGA"></a>
	  </li>
	  
	  <li class="project-thumb project-feastbeast-food-truck" style="background-image:url(/portfolio/feastbeast-food-truck/project-thumb.jpg);">
	    <div class="project-thumb_info">
	      <h4>View Project</h4>
	    </div>
	    <a href="/portfolio/feastbeast-food-truck/" title="FeastBeast Food Truck"></a>
	  </li>
	  
	  <li class="project-thumb project-officemax-office-depot" style="background-image:url(/portfolio/officemax-office-depot/project-thumb.jpg);">
	    <div class="project-thumb_info">
	      <h4>View Project</h4>
	    </div>
	    <a href="/portfolio/officemax-office-depot/" title="OfficeMax / Office Depot"></a>
	  </li>
	  
	</ul>
</div>
