<ul>
		<li><a class="{% if page.url contains "/blog" %}active{% endif %}" href="{{ site.baseurl }}/notes/blog" title="Blog">Blog</a></li>
		<li><a class="{% if page.url contains "/quotes" %}active{% endif %}" href="{{ site.baseurl }}/notes/quotes" title="Quotes">Quotes</a></li>
		<li><a class="{% if page.url contains "/codes" %}active{% endif %}" href="{{ site.baseurl }}/notes/codes" title="Code Snippets">Code Snippets</a></li>
		<!--<li><a class="{% if page.url contains "/tools" %}active{% endif %}" href="{{ site.baseurl }}/tools" title="Useful Stuff">Useful Stuff</a></li>-->
</ul>
