$breakpoints: (
  'small': '(max-width: 529px)', 
  'medium': '(min-width: 530px) and (max-width: 768px)',
  'phablet': '(max-width: 768px)',
  'notPhablet': '(min-width: 769px)',
  'large': '(min-width: 769px) and (max-width: 1400px)',
  'x-large': '(min-width: 1401px)',
  'mobileNav' : '(min-width: 1200px)'
);
@mixin media($name, $push: false) {
  @if map-has-key($breakpoints, $name) {
    @media only screen and #{map-get($breakpoints, $name)} {
      @content;
    }
  }
  @else if $push !=false {
    $breakpoints: map-merge($breakpoints, ($name: $push)) !global;
    @include media($name) {
      @content;
    }
  }
}




$colors: (
  gray: (
    dark: #181d1f,
    base: #212b2e,
    mid: #3d4f55,
    light: #5e7e88,
  ),
  primary: (
    base: #2ECEF1,
    light: #cff6ff
  ),
  text: (
    base: #2a4d58,
    link: #9fc4cf
  )
);
@function color($color-name, $color-variant) {
  // map inception
  @return map-get(map-get($colors, $color-name), $color-variant);
}




@mixin font-stack-normal {
  font-family: "Exo 2", "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
}
@mixin font-stack-header {
  // font-family: 'Raleway', Sans-Serif;
  font-family: "Lato", Sans-Serif;
}
@mixin font-stack-code {
  font-family: 'Source Code Pro', Menlo, Consolas, Monaco, monospace;
}

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {

      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }

      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}




@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
  // For Google Chrome
  &::-webkit-scrollbar {
    width:  $size;
    height: $size;
  }
  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }
  &::-webkit-scrollbar-track {
    background: $background-color;
  }
  // For Internet Explorer
  body & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}