#primary-header {
	position: relative;
	padding-top: 25%;
	height: 0px;
	overflow: hidden;
}

canvas {
	position:absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
}

.mountains {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 200%;
   background-repeat: repeat-x;
   background-position: bottom center;
}

.mountains_background {
   background-image: url(public/img/mountains-background-new.gif);
   background-size: 45% auto;
   animation: rollingMountains 300s linear infinite;
}

.mountains_midground {
   background-image: url(public/img/mountains-midground.-newgif);
   background-size: 35% auto;
   animation: rollingMountains 160s linear infinite;
}

.mountains_foreground {
   background-image: url(public/img/mountains-foreground-new.gif);
   background-size: 20% auto;
   animation: rollingMountains 80s linear infinite;
}

@keyframes rollingMountains {
    0% { transform: translate3d(0,0,0) }
    100% { transform: translate3d(-50%,0,0) }
}

@include media(small) {
   #primary-header { padding-top: 50% }
   
   .mountains { width: 300% }
}

#home-link,
.chase-logo-svg {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-80%);
  display: block;
  width: 30%;
  min-width: 200px;
  max-width: 250px;
  margin: 1rem auto 0 auto;
  //z-index: 100;
}

#home-link {
  z-index: 100;
  padding-top: 6%;
  min-height: 70px;
}

//.chase-logo-svg {fill:fade(#adf1ff,35%);
// Need the leading / for FF and a few others to work
//.chase-logo-c-top { fill: url(/#gradient-left-right) }
//.chase-logo-c-tophl { fill: url(/#gradient-right-left) }
//.chase-logo-c-mid { fill: url(/#gradient-top-bottom) }
//.chase-logo-c-bottomhl { fill: url(/#gradient-top-bottomhl) }
//.chase-logo-c-bottom { fill: url(/#gradient-left-right) }
//.chase-logo-letter { fill: url(/#gradient-bottom-top) }