.nav {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  h3 {
    text-transform: uppercase;
    margin: 0;
  }
	  
  > li {
    margin-bottom: 2rem;
        
    ul {
      margin: 0;
      font-weight: bold;
      
      li { margin-top: .25em }
    }
  }
}

.social-connect {
  list-style: none;
  padding: 0px;
  
  li { margin-top: 0 }
  
  li + li {
    margin-top: 4%
  }
}

.nav a {
  display: block;
  font-weight: bold;
  text-decoration: none;
  color: color(text,base);
  transform: translateZ(0);
}

@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(80px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translateX(-80px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}




@mixin socialIcon($title,$icon,$bgColor,$textColor) {
  &:before {
    background: $bgColor;
    content: '#{$icon}';
    color: $textColor
  }
  &:hover {
    &:before { animation: $title 1s forwards }
  }
  @keyframes #{$title} {
    from {
      box-shadow: 0 0 0 rgba($bgColor, 1);
    }
    to {
      box-shadow: 0 0 0 10px rgba($bgColor, 0);
    }
  }
}

.social-media-wrap {
  text-align: center;
}

ul.social-media {
  position: relative;
  display: inline-block;
  zoom: 1;
  list-style: none;
  text-align: left;
  padding: .1em 0 0 0;
  margin: 0 auto;
  
  li {
    position: relative;
    padding-left: 2.5em;
    
    + li { margin-top: 1em }
    
    a {
      text-decoration: none;
      color: color(text,base)
    }
      
    a:before {
      display: block;
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate3d(0,-49%,0);
      height: 1.8em;
      width: 1.8em;
      border-radius: 50%;
      text-align: center;
      line-height: 1.8em;
      font-size: 1em;
      font-family: 'FontAwesome';
    }
    &.email a {
      @include socialIcon($title: email,$icon: '\f1d8',$bgColor: color(primary,base),$textColor: white);
      &:before { padding-right: .1em }
    }
    &.codepen a {
      @include socialIcon($title: codepen,$icon: '\f1cb',$bgColor: #000,$textColor: white);
      //&:before { padding-right: .1em }
    }
    &.twitter a {
      @include socialIcon($title: twitter,$icon: '\f099',$bgColor: #2caae1,$textColor: white)
    }
    &.linkedin a {
      @include socialIcon($title: linkedin,$icon: '\f0e1',$bgColor: #1b86bd,$textColor: white)
    }
    &.github a {
      @include socialIcon($title: github,$icon: '\f113',$bgColor: #76c85a,$textColor: white)
    }
    &.behance a {
      @include socialIcon($title: behance,$icon: '\f1b4',$bgColor: #237ffc,$textColor: white)
    }
  }
}