.video-wrap {
	position: relative;
}

.project-video {
	width: 100%;
	position: relative;
	padding-top: 36.5%;
}

@mixin style($css,$pagebg,$content-bg,$content-bggradient,$text,$headline,$accent,$black: black,$white: white) {
	background: $pagebg url(portfolio/#{$css}/project-hero-new.jpg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	color: $text;
	.overlay { background: $pagebg }
	
	.chase-logo-svg { display: none }
	
	@include media(small) {
		background: $pagebg url(portfolio/#{$css}/project-hero-narrow.jpg);
		background-repeat: no-repeat;
		background-size: 100% auto;
	}
	
	#primary-header {
		min-height: initial
	}
	
	main {
		background: linear-gradient(to right, $content-bggradient, $content-bg 15%, $content-bg 85%, $content-bggradient);
		background: none;
		border: none;
		box-shadow: none;
	}
	
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 { color: $headline }
	
	h2 {
		border-bottom: none;
		margin: 0;
		
		&:after {
			display: none;
		}
	}
	
	section { text-shadow: 0px 2px 4px $pagebg }
	
	section h3 {
		position: relative;
		
		&:after {
			display: block;
			content: '';
			width: 100%;
			position: absolute;
			left: 0;
			bottom: -.15rem;
			height: .15rem;
			background: linear-gradient(to right, $accent, rgba($accent, 0) )
		}
	}
	
	.page-description {
		font-size: $mod_1*$mod_1 *1rem;
		font-weight: bold;
		margin-top: 0;
		color: $accent
	}
	
	section {
		color: $text
	}
	
	.video-wrap,
	.project-gallery-item {
		border-color: $text;
		background: $text;
	}
	
	a,
	a:visited {
		color: $headline
	}
	
	//
	// photoswipe
	//
	.pswp__top-bar,
	.pswp__ui--fit .pswp__top-bar {
		background-color: $pagebg;
	}
	.pswp__bg {
		// needs to be a tad darker than nav overlay,
		// because main also goes transparent on that one
		background: rgba($pagebg, .84);
	}
	
	.nav a {
		color: $text;
		
		&.active { color: $headline }
	}
	
	ul.social-media a {
		color: $text
	}
	
	.nav-trigger span,
	.nav-trigger span:before,
	.nav-trigger span:after {
		background: $headline;
		box-shadow: 0px 1px 6px $pagebg;
	}
	
	&.nav-open {
		.nav-trigger span,
		.nav-trigger span:before,
		.nav-trigger span:after {
			box-shadow: 0px 1px 5px rgba($pagebg,0);
		}
	}
	
	.nav-container {
    background: linear-gradient(to left, $content-bg, $content-bggradient);
		
		@media only screen and (max-width: 1200px){
			background: linear-gradient(to right, $content-bg, $content-bggradient);
		}
	}
	
	.chase-logo-svg {
		width: 4em;
		min-width: 150px;
		top: 10%;
		transform: translateX(-50%)
	}
	
	header {
		canvas,
		.mountains {
			display: none;
			width: 0px;
			height: 0px;
		}
	}
}






.officemax-office-depot {
	@include style(
		$css: 'officemax-office-depot',
		$pagebg: #e4e4e4,
		$content-bg: white,
		$content-bggradient: #e4e4e4,
		$text: #2f2929,
		$headline: #ec1b3c,
		$accent: #febc12
	);
	// this one is a png
	background: #e4e4e4 url(portfolio/officemax-office-depot/project-hero.png);
	background-repeat: no-repeat;
	background-size: 100% auto;
	
	@include media(small) {
		background: #e4e4e4 url(portfolio/officemax-office-depot/project-hero-narrow.png);
		background-repeat: no-repeat;
		background-size: 100% auto;
		
		main {
			padding-top: 10rem
		}
	}
	.page-description { color: #2f2929 }
	section h3:after {
		background: linear-gradient(to right, #febc12, rgba(255,239,1,0.5), rgba(255,239,1,0) );
	}
	.pswp__top-bar { background-color: rgba(#2f2929,.5)!important }
}

.aau {
	@include style(
		$css: 'aau',
		$pagebg: #0b152e,
		$content-bg: #0d1c42,
		$content-bggradient: #0b152e,
		$text: #dffbff,
		$headline: #00e9ff,
		$accent: white
	);
	@include media(small) {
		main {
			//padding-top: 0
		}
	}
	.nav-trigger span,
	.nav-trigger span:before,
	.nav-trigger span:after {
		background: white;
	}
	section h3:after {
		background: linear-gradient(to right, white, #00e9ff, rgba(white, 0) )
	}
}

.walk-on-water {
	@include style(
		$css: 'walk-on-water',
		$pagebg: white,
		$content-bg: #f2fcfa,
		$content-bggradient: white,
		$text: #547171,
		$headline: #00b3b5,
		$accent: #db2e4a
	);
	main {
		padding-top: 10rem
	}
	@include media(small) {
		main {
			padding-top: 1rem
		}
	}
	.nav-trigger span,
	.nav-trigger span:before,
	.nav-trigger span:after {
		background: #db2e4a;
	}
	.pswp__top-bar { background-color: rgba(#547171,.5)!important }
}

.feastbeast-food-truck {
	@include style(
		$css: 'feastbeast-food-truckfeastbeast',
		$pagebg: #120101,
		$content-bg: #310202,
		$content-bggradient: #120101,
		$text: white,
		$headline: #ff434c,
		$accent: #ffdfdf
	);
	
	background-color: black;
	background-image: url(portfolio/feastbeast-food-truck/project-hero.jpg), url(portfolio/feastbeast-food-truck/project-bg-new.png);
  background-repeat: no-repeat, repeat-y;
  background-position: top center, top center;
	
	@include media(small) {
		background-color: black;
		background-image: url(portfolio/feastbeast-food-truck/project-hero-mobile.png), url(portfolio/feastbeast-food-truck/project-bg-mobile.png);
		background-repeat: no-repeat, repeat-y;
		background-position: top center, top center;
	}
}

.pga {
	@include style(
		$css: 'pga',
		$pagebg: #ced6ac,
		$content-bg: #b8ca97,
		$content-bggradient: #ced6ac,
		$text: #313634,
		$headline: #7a6036,
		$accent: #0b2a6c
	);
	.pswp__top-bar { background-color: rgba(#313634,.5)!important }
	.nav-trigger span,
	.nav-trigger span:before,
	.nav-trigger span:after {
		background: white;
	}
}




//
// Gallery
//
.project-gallery-item {
  border: 2px solid #333;
  background: #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
  
  position: relative;
  overflow: hidden;
}


.gallery {
	width: calc(100% + 2%);
	max-width: calc(1000px + 4vw + 1.5%)!important;
	margin-left: 0!important;
	margin-right: 0!important;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	
  .full {
    padding-top: 50%
  }
  .large {
    padding-top: 40%
  }
  .small {
    padding-top: 18.85%;
  }
  
  .third {
    padding-top: 30%;
  }
  
  .half {
    padding-top: 30%
  }

  .narrow {
    padding-top: 40%;
  }
}

.masonry-item.gallery-item_aau-shield { padding-top: 20% }

.masonry-item.gallery-item_aau-shield { padding-top: 20% }

.masonry-item.gallery-item_officemax-disney { padding-top: 20% }

.project-gallery-video {
	padding-top: 56%;
	
	iframe {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
	}
}


.gallery-image {
  position: absolute;
  top: 50%;
  left: 50%;
  height: auto;
  width: 100%;
  transform: translateX(-50%) translateY(-50%)
}

.small .gallery-image {
  height: 100%;
}

.narrow .gallery-image {
  height: 100%;
  width: auto
}