/*h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Exo 2', sans-serif;
  color: color(primary, base);
  font-weight: bold;
  margin: 0;
  line-height: 1;
}

h1,
h2 {
  text-transform: uppercase;
}

h3,
h4 {
  font-family: 'Lato', sans-serif;
}*/

$MQs: true;

$min_width: 320px;
$max_width: 1200px;
$min_font: 14px;
$max_font: 24px;

$mod_1: 1.2; // mobile
$mod_2: 1.5; // desktop

$linkColorOnWhite: #4c8ee8;
$linkColorOnBlack: #5792E2;

@import url('https://fonts.googleapis.com/css?family=Exo+2:600');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css');

html {
  @include font-stack-normal;
  @include fluid-type($min_width, $max_width, $min_font, 18px);
  line-height: 1.5;
}

body {
  font-family: 'Lato', sans-serif;
  color: color(text,base);
}

p, blockquote, figure, pre {
  margin: 0 0 1rem 0;
  &:empty {
    display: none;
  }
}

a {
	text-decoration: none;
	color: color(primary,base);
	transition: color .3s ease-in-out;
	
	&:hover, &:focus, &:active {
    cursor: pointer; // some <a> without href
    color: color(text,base);
  }
}

p a {
  text-decoration: underline;
}

.page-header {
	h1,
	h2 {
		/*display: flex;
		align-items: center;
		align-items: stretch;
		background: color(primary,base);
		color: white!important;

		&:after {
			flex-grow: 1;
			margin-left: .25em;
			content: '';
			background: linear-gradient(to right, rgba(white,0), white)
		}
		
		&:before {
			flex-grow: 1;
			margin-right: .25em;
			content: '';
			background: linear-gradient(to left, rgba(white,0), white)
		}

		&:before {
			display: block;
			content: '';
			position: absolute;
			top: 0;
			left: -1rem;
			width: 1rem;
			height: 100%;
			background: linear-gradient(to left, color(primary,base), rgba(color(primary,base),0) )
		}*/
		
		text-align: center;
	}
	
	p {
		text-align: center
	}
}

h1, h2, h3, h4, h5, h6 {
  @include font-stack-header;
  font-weight: bold;
  line-height: 1.2;
  margin: 2rem 0 1rem 0;
  color: color(primary,base)
}

section {
	h1:first-of-type,
	h2:first-of-type {
		margin-top: 0
	}
}

h1, h2 {  
  font-size: $mod_1*$mod_1*$mod_1 *1rem; 
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1 *$min_font, $mod_2*$mod_2*$mod_2 *$min_font);
  text-transform: uppercase;
	position: relative;

	/*&:after {
		display: block;
		content: '';
		position: absolute;
		bottom: -.15rem;
		left: 0;
		width: 100%;
		height: .15rem;
		background-image: linear-gradient(to right,
		color(gray,light), rgba(color(gray,light),0));
	}*/
}

h1 {
  padding: 0 0 0.25rem 0;
}

h3 { 
  font-size: $mod_1*$mod_1 *1rem;
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1 *$min_font, $mod_2*$mod_2 *$min_font);
}

h4, h5 { 
  font-size: $mod_1 *1rem; 
  @include fluid-type($min_width, $max_width, $mod_1 *$min_font, $mod_2 *$min_font);
}

h4 {
  text-transform: uppercase;
}

h6 { 
  font-size: 1.05rem; 
}

blockquote {
  padding: 1rem;
  background: rgba(black, 0.05);
  box-shadow: none;
  p:last-child {
    margin-bottom: 0;
  }
}

ul, ol, dl {
  margin: 0 0 1rem 1.5rem;
  padding: 0;
  ul, ol, dl { 
    margin: 0.5rem 0 0.5rem 1.5rem;
  }
}

dt {
  font-weight: bold;
}

li {
  margin: 0 0 0.5rem 0
}

hr {
  border: 0;
  height: 1px;
  background: #ccc;
  position: relative;
  margin: 3rem 0;
}

p, li, dd, td {
  > code {
    background: #eee;
    padding: 1px 5px 2px;
    margin: 0 1px;
    border-radius: 4px;
    position: relative;
    top: -1px;
  }
}

.page-tagline {
	font-size: $mod_1*$mod_1 *1rem;
	font-weight: bold;
	margin-top: -1rem;
	margin-bottom: 4rem;
}

img {
  box-sizing: content-box;
}

pre {
  @include font-stack-code;
  background: #333;
  color: white; // default code color
  padding: 1rem;
  font-size: 85%;
  tab-size: 2;
  word-break: normal;
  hyphens: none;
  > code {
    @include scrollbars(0.5em, #666, none);
    white-space: pre;
    display: block;
    overflow-x: auto;
    font-size: inherit;
  }
}

code {
  @include font-stack-code;
  font-size: 85%;
  text-transform: none;
}

table {
  display: block;
  width: 100%;
  overflow: auto;
  border-spacing: 0;
  border-collapse: collapse;
  th, td {
    padding: 6px 13px;
    border: 1px solid #ddd;
  }
  tr {
    background-color: #fff;
    border-top: 1px solid #ccc;
    &:nth-child(2n) {
      background-color: #f8f8f8;
    }
  }
}

::selection {
  background: color(primary, base);
  color: white;
}

::-moz-selection {
  background: color(primary, base);
  color: white;
}

section {
  color: color(text, base)
}

.page-header {
  //text-align: center;
	margin-bottom: 2rem;
  
  h1,
  h2 { margin-top: 0 }
}

.example {
	@extend h6;
	position: relative;

	&:after {
		display: block;
		content: '';
		position: absolute;
		bottom: -.15rem;
		left: 0;
		width: 100%;
		height: .15rem;
		background-image: linear-gradient(to right,
		color(primary,base), rgba(color(primary,base),0));
	}
}

.cp_embed_wrapper {
	@extend h5;
}

dt {
	position: relative;
	cursor: pointer;
	margin-left: 2rem;
	@extend h5;

	&:before {
		display: inline-block;
		position: absolute;
		top: 0;
		left: -2rem;
		font-family: 'FontAwesome';
		content:'\f078';
		opacity: .5;
		color: color(primary,base);
		transform: rotate(0deg);
		backface-visibility: hidden;
		transition: all .4s ease-out;
	}

	&.toggled {
		&:before {
			opacity: 1;
			transform: rotate(180deg);
		}

		&:hover {
			&:before { opacity: 1 }
		}
	}

	&:hover {
        &:before { opacity: .8 }
	}
}

dd {
	position: relative;
	top: 0;
	left: 2rem;
	background: linear-gradient(
	to right,
	#171d1f, transparent);
	background: #deecf0;
	padding: 1em;
	margin: 0;
	width: calc(100% - 2rem);
	display: block;
	
	> *:last-child {
		margin-bottom: 0px;
	}
}
