h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: 'Exo 2', sans-serif;
   color: color(primary, base);
   font-weight: bold;
   margin: 0;
   line-height: 1;
}

h1,
h2 {
   text-transform: uppercase;
}

h3,
h4 {
   font-family: 'Lato', sans-serif;
}

h1 {
   font-size: $fontSizeH1
   //color: white
}

h2 {
   font-size: $fontSizeH2
}

h3 {
   font-size: $fontSizeH3
}

h4 {
   font-size: $fontSizeH4
}

::selection {
   background: color(primary, base);
   color: white;
}

::-moz-selection {
   background: color(primary, base);
   color: white;
}

section {
   color: color(text, base)
}

p {
   font-size: $fontSizeBase;
   line-height: 1.6;
   margin: 0;
   + p {
      margin-top: 1rem
   }
}




.page-header {
  text-align: center;
}
